@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255, 255, 255;
    --foreground: 128, 131, 134;
    --card: 238, 242, 244;
    --card-foreground: 0, 0, 0;
    --popover: 255, 255, 255;
    --popover-foreground: 0, 0, 0;
    --input: 240, 243, 244;
    --ring: 59, 130, 246;
    --inputtext:150, 150, 150;
  }

  :root[class~="dark"] {
    --background: 0, 0, 0;
    --foreground: 137, 139, 142;
    --card: 13, 15, 16;
    --card-foreground: 255, 255, 255;
    --popover: 0, 0, 0;
    --popover-foreground: 255, 255, 255;
    --input: 33, 35, 39;
    --ring: 59, 130, 246;
    --inputtext:116, 116, 116;
  }
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
}